[USER_PARAMS]
backgroundFilePath =./Data/background
sampleFilesPath    =./Data/GermanFlag
bgColor            =255 
bgThresh           =8
maxXangle          =5
maxYangle          =5
maxZangle          =5
outputPerSample    =300
GausNoiseProb      =0
MedianNoiseProb	   =0
AffineRotateProb   =0
SharpenProb	       =1
PerspTransProb     =0