[USER_PARAMS]
backgroundFilePath =./Data/GermanFlag
sampleFilesPath    =./Data/background
bgColor            =255 
bgTthresh          =8
maxXangle          =5
maxYangle          =5
maxZangle          =5
outputPerSample    =300
GausNoiseProb      =0.2
MedianNoiseProb	   =0.1
AffineRotateProb   =0.3
SharpenProb	   =0.2
