[USER_PARAMS]
backgroundFilePath =./Data/background
sampleFilesPath    =./Data/GermanFlag
bgColor            =255 
bgThresh           =8
maxXangle          =50
maxYangle          =50
maxZangle          =50
outputPerSample    =300
GausNoiseProb      =0
MedianNoiseProb	   =0
AffineRotateProb   =0
SharpenProb	       =0
PerspTransProb     =0.7
ScalingProb        =0